
<div class="panel panel-primary" style="padding:20px 35px">
    <div class="panel-heading">
      <h3>Doctors List</h3>
      <button class="addButton" [routerLink]="['/createDoctor']" routerLinkActive="router-link-active"> Add +
        </button>
    </div>
    <div class="panel-body">
      <table class="table table-hover" border=1>
        <thead>
          <tr class="table-dark">
            
            <th>Doctor Name</th>
            <th>Degree</th>
            <th>Speciality</th>
            <th>Schedule</th>
            <th>Description</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let doc of doctors" class="table-info" border=1>
                
                <td>{{doc.name}}</td>
                <td>{{doc.medicalDegree}}</td>
                <td>{{doc.speciality}}</td>
                <td>{{doc.schedule}}</td>
                <td> {{doc.description}}</td>
                
                <td><button (click)="gotoUpdate(doc.id)" class="editButton">Update</button>
                    <button (click)="deleteDoctor(doc.id)" class="deleteButton" style="margin-left: 10px">Delete</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>