<div class="container mt-3">
    <div style="border-radius: 5px;margin-bottom:10px; padding:10px;background-color:rgb(37, 133, 133)">
        <h2 style="color:honeydew;font-weight:800"> Our Doctors
        </h2>  
    </div>
    
    <div class="row">
        <div *ngFor="let doc of doctors" class="col-lg-2">
            <div class="card">
                <div class="card-img-wrapper">
                <div class="card-body">
                    <img class="card-img-top" src="../../../../assets/images/docIcon.jpg">
                    
                    <h6 class="card-title text-center mb-1">
                        <div style="font-weight:500; font-size:18px; padding-top: 5px;">   
                         {{doc.name}} </div>
                    </h6>
                    <div style="font-size:16px">
                        <p class="card-text text-center text-info">
                            {{doc.speciality}}              
                        </p>
                    </div>
                    <div style="font-size:12px">
                        <p class="card-text text-center text-primary" style="font-weight: 500;">
                           {{doc.medicalDegree}}              
                        </p>
                    </div>
                    <ul class="list-inline text-center"> 
                        <li class="list-inline-item"> <button (click)="viewDetails(doc.id)" class="addButton funk" style="margin-top: 10px;"> View Deatils</button> </li>

                    </ul>
                </div>
                </div>
            </div>
        </div>
</div>
</div>
