
<div class="sidebar-container">
    <div class="sidebar-logo">
      Dashboard
    </div><div style="padding-top: 20px;">
    <ul class="sidebar-navigation">
      <!--<li class="header">Manage</li>-->
      <li>
      <a [routerLink]="['/doclist-mg']" routerLinkActive="router-link-active">
        Doctors
        </a>
      </li>
      <li>
        <a href="{{toggleDocView()}}">
           Admin
        </a>
      </li>
    </ul>
  </div>

  <div class="content-container">
      <!-- Main component for a primary marketing message or call to action -->
    </div>
  </div>